_artifacts/*
_build
_cache
!handler/fixtures/*
.cover
.DS_Store
.env
.idea
.kubeconfig
*.iml*
**/_build
/client-gen
/codecgen_binary
/deepcopy-gen
/defaulter-gen
/go.mod
/go.sum
/kubermatic-api
/kubermatic-cluster-controller
/reports
download-gocache
