!handler/fixtures/*
**/_build
*.iml*
*.private.env.json
.DS_Store
.cover
.env
.idea
.kubeconfig
/client-gen
/codecgen_binary
/deepcopy-gen
/defaulter-gen
/kubermatic-api
/kubermatic-cluster-controller
/reports
/vendor
_artifacts/*
_build
_cache
_dist
download-gocache
