_build
_cache
!handler/fixtures/*
.cover
.DS_Store
.env
.idea
.kubeconfig
*.iml*
/client-gen
/codecgen_binary
/deepcopy-gen
/defaulter-gen
/go.mod
/go.sum
/pkg/handler/routes_v1.go-e
/reports
cmd/conformance-tests/conformance-tests
cmd/s3-exporter/s3-exporter
cmd/user-ssh-keys-agent/user-ssh-keys-agent
download-gocache
handler/swagger/api/index.json
handler/swagger/index.json
secrets.yaml
tags
template/coreos
