groups:
- name: ark
  rules:
  - alert: ArkBackupTakesTooLong
    annotations:
      message: Backup schedule {{ $labels.schedule }} has been taking more than 60min already.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-arkbackuptakestoolong
    expr: (ark_backup_attempt_total - ark_backup_success_total) > 0
    for: 60m
    labels:
      severity: warning

  - alert: ArkNoRecentBackup
    annotations:
      message: There has not been a successful backup for schedule {{ $labels.schedule }} in the last 24 hours.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-arknorecentbackup
    expr: changes(ark_backup_success_total{schedule!=""}[25h]) < 1
    labels:
      severity: warning
