groups:
- name: kubermatic
  rules:
  - alert: KubermaticClusterPhase
    expr: kubermatic_cluster_controller_cluster_status_phase{phase="running"} == 0 and
      kubermatic_cluster_controller_cluster_status_phase{phase="deleting"} == 0
    for: 10m
    labels:
      severity: warning
    annotations:
      description: "Cluster {{ $labels.cluster }} is {{ $labels.phase }} for more then 10min."
      summary: "Cluster too long in unexpected phase"
