groups:
- name: kubernetes-storage
  rules:
  - alert: KubePersistentVolumeUsageCritical
    annotations:
      message: >
        The PersistentVolume claimed by {{ $labels.persistentvolumeclaim }} in namespace
        {{ $labels.namespace }} is only {{ printf "%0.0f" $value }}% free.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-kubepersistentvolumeusagecritical
    expr: |
      100 * kubelet_volume_stats_available_bytes{job="kubelet"}
        /
      kubelet_volume_stats_capacity_bytes{job="kubelet"}
        < 3
    for: 1m
    labels:
      severity: critical

  - alert: KubePersistentVolumeFullInFourDays
    annotations:
      message: >
        Based on recent sampling, the PersistentVolume claimed by {{ $labels.persistentvolumeclaim }}
        in namespace {{ $labels.namespace }} is expected to fill up within four days.
        Currently {{ $value }} bytes are available.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-kubepersistentvolumefullinfourdays
    expr: |
      (
        kubelet_volume_stats_used_bytes{job="kubelet"}
          /
        kubelet_volume_stats_capacity_bytes{job="kubelet"}
      ) > 0.85
      and
      predict_linear(kubelet_volume_stats_available_bytes{job="kubelet"}[6h], 4 * 24 * 3600) < 0
    for: 5m
    labels:
      severity: critical
