apiVersion: "v1"
name: promtail
version: 0.16.0
appVersion: v1.2.0
description: "Responsible for gathering logs and sending them to Loki"
keywords:
- kubermatic
- logging
- grafana
- loki 
- promtail
home: https://grafana.com/loki
sources:
- https://github.com/grafana/loki
maintainers:
- name: Loodse GmbH
  email: support@loodse.com
