
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: kubermaticsettings.kubermatic.k8c.io
spec:
  group: kubermatic.k8c.io
  names:
    kind: KubermaticSetting
    listKind: KubermaticSettingList
    plural: kubermaticsettings
    singular: kubermaticsetting
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: KubermaticSetting is the type representing a KubermaticSetting
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              cleanupOptions:
                properties:
                  enabled:
                    type: boolean
                  enforced:
                    type: boolean
                required:
                - enabled
                - enforced
                type: object
              clusterTypeOptions:
                type: integer
              customLinks:
                items:
                  properties:
                    icon:
                      type: string
                    label:
                      type: string
                    location:
                      type: string
                    url:
                      type: string
                  required:
                  - icon
                  - label
                  - location
                  - url
                  type: object
                type: array
              defaultNodeCount:
                type: integer
              displayAPIDocs:
                type: boolean
              displayDemoInfo:
                type: boolean
              displayTermsOfService:
                type: boolean
              enableDashboard:
                type: boolean
              enableExternalClusterImport:
                type: boolean
              enableOIDCKubeconfig:
                type: boolean
              machineDeploymentVMResourceQuota:
                properties:
                  enableGPU:
                    type: boolean
                  maxCPU:
                    description: Maximal number of vCPU
                    type: integer
                  maxRAM:
                    description: Maximum RAM size in GB
                    type: integer
                  minCPU:
                    description: Minimal number of vCPU
                    type: integer
                  minRAM:
                    description: Minimal RAM size in GB
                    type: integer
                required:
                - enableGPU
                - maxCPU
                - maxRAM
                - minCPU
                - minRAM
                type: object
              mlaAlertmanagerPrefix:
                type: string
              mlaGrafanaPrefix:
                type: string
              mlaOptions:
                properties:
                  loggingEnabled:
                    type: boolean
                  loggingEnforced:
                    type: boolean
                  monitoringEnabled:
                    type: boolean
                  monitoringEnforced:
                    type: boolean
                required:
                - loggingEnabled
                - loggingEnforced
                - monitoringEnabled
                - monitoringEnforced
                type: object
              opaOptions:
                properties:
                  enabled:
                    type: boolean
                  enforced:
                    type: boolean
                required:
                - enabled
                - enforced
                type: object
              restrictProjectCreation:
                type: boolean
              userProjectsLimit:
                format: int64
                type: integer
            required:
            - cleanupOptions
            - clusterTypeOptions
            - customLinks
            - defaultNodeCount
            - displayAPIDocs
            - displayDemoInfo
            - displayTermsOfService
            - enableDashboard
            - enableExternalClusterImport
            - enableOIDCKubeconfig
            - machineDeploymentVMResourceQuota
            - mlaAlertmanagerPrefix
            - mlaGrafanaPrefix
            - mlaOptions
            - opaOptions
            - restrictProjectCreation
            - userProjectsLimit
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
