
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: usersshkeys.kubermatic.k8c.io
spec:
  group: kubermatic.k8c.io
  names:
    kind: UserSSHKey
    listKind: UserSSHKeyList
    plural: usersshkeys
    singular: usersshkey
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: UserSSHKey specifies a users UserSSHKey
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              clusters:
                items:
                  type: string
                type: array
              fingerprint:
                type: string
              name:
                type: string
              owner:
                type: string
              publicKey:
                type: string
            required:
            - clusters
            - fingerprint
            - name
            - owner
            - publicKey
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
