@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src:
			url('ubuntu-500.woff2') format('woff2'),
			url('ubuntu-500.woff') format('woff');
}

.theme-body {
	background: #001930 url("bg.svg") no-repeat fixed center center;
	background-size: cover;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.theme-navbar {
	background-color: #fff;
	box-shadow: 0 4px 4px rgba(68,77,88,.1);
	color: #333;
	font-size: 13px;
	font-weight: 100;
	height: 60px;
	overflow: hidden;
}

.theme-navbar__logo {
	content: url("logo.svg");
	background-size: 30px;
	margin-top: 13px;
	margin-left: 26px;
	width: 160px;
	height: 35px;
}

.dex-container:before {
	color: #fff;
	content: "Login to Kubermatic";
	font-family: 'Ubuntu', sans-serif;
	font-size: 28px;
	font-weight: 500;
	line-height: 140%;
	width: 380px;
	position: absolute;
	top: -75px;
	left: 0;
}

.theme-heading {
	display: none;
}

.theme-panel {
	background-color: #fff;
	border-radius: 5px;
	padding: 30px;
	width: 380px;
}

.theme-btn-provider {
	background-color: #fff;
	color: #333;
	min-width: 320px;
}

.theme-btn-provider:hover {
	color: #999;
}

.theme-btn--primary {
	background-color: #333;
	border: none;
	color: #fff;
	min-width: 200px;
	padding: 6px 12px;
}

.theme-btn--primary:hover {
	background-color: #666;
	color: #fff;
}

.theme-btn--success {
	background-color: #2FC98E;
	color: #fff;
	width: 250px;
}

.theme-btn--success:hover {
	background-color: #49E3A8;
}

.theme-form-row:not(:last-child){
	margin-bottom: 10px;
}

.theme-form-input {
	border-radius: 5px;
	color: rgba(0, 0, 0, 0.87);
	display: block;
	font-size: 14px;
	height: 36px;
	line-height: 1.42857143;
	margin: auto;
	padding: 6px 12px;
	width: 250px;
}

.theme-form-input:focus,
.theme-form-input:active {
	color: #66AFE9;
	outline: none;
}

.theme-form-label {
	font-size: 13px;
	font-weight: 600;
	margin: 4px auto;
	position: relative;
	text-align: left;
	width: 250px;
}

.theme-form-row > a {
	width: 100%;
	display: inline-block;
}

.dex-container {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.dex-btn {
	border: 1px solid #E0E3E5;
	border-radius: 5px;
	box-shadow: unset;
}

.dex-btn-icon {
	background-color: unset !important;
}

.dex-btn-icon--local {
	filter: invert(100%) !important;
}

.dex-btn-icon--oidc {
	background-color: white;
	background-image: url('../static/img/google-icon.svg');
}

.dex-btn-text {
	font-size: 16px;
	font-weight: normal;
	float: left;
	line-height: 24px;
}
