nodePortPoxy:
  replicas: 3
  envoy:
    image:
      repository: "envoyproxy/envoy-alpine"
      tag: v1.11.1
  image:
    repository: "quay.io/kubermatic/nodeport-proxy"
    tag: "v2.2.1"

  nodeSelector: {}
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app: envoy
          topologyKey: kubernetes.io/hostname
        weight: 100
  tolerations: []

  resources:
    envoy:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 20m
        memory: 64Mi
    envoyManager:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 20m
        memory: 48Mi
    lbUpdater:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 10m
        memory: 32Mi

  lbUpdater:
    nodeSelector: {}
    affinity: {}
    tolerations: []
