nodePortPoxy:
  replicas: 3
  envoy:
    image:
      repository: "envoyproxy/envoy-alpine"
      tag: "v1.9.0"
  image:
    repository: "quay.io/kubermatic/nodeport-proxy"
    tag: "v2.0.0"
  resources:
    envoy:
      requests:
        cpu: 10m
        memory: 24Mi
      limits:
        cpu: 20m
        memory: 48Mi
    envoyManager:
      requests:
        cpu: 10m
        memory: 24Mi
      limits:
        cpu: 20m
        memory: 48Mi
    lbUpdater:
      requests:
        cpu: 10m
        memory: 24Mi
      limits:
        cpu: 10m
        memory: 24Mi
