nodePortProxy:
  replicas: 3
  image:
    repository: "quay.io/kubermatic/nodeport-proxy"
    tag: v2.2.0
  envoy:
    image:
      repository: "docker.io/envoyproxy/envoy-alpine"
      tag: "v1.10.0"

  nodeSelector: {}

  # The only reason all these fields are defined explicitly is so that
  # we can properly merge any potential overwrites.
  affinity:
    nodeAffinity: {}
    podAffinity: {}
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app: envoy
          topologyKey: kubernetes.io/hostname
        weight: 100
      requiredDuringSchedulingIgnoredDuringExecution: []
  tolerations: []

  resources:
    envoy:
      requests:
        cpu: 50m
        memory: 32Mi
      limits:
        cpu: 200m
        memory: 64Mi
    envoyManager:
      requests:
        cpu: 50m
        memory: 32Mi
      limits:
        cpu: 150m
        memory: 48Mi
    lbUpdater:
      requests:
        cpu: 50m
        memory: 32Mi
      limits:
        cpu: 150m
        memory: 32Mi

  lbUpdater:
    nodeSelector: {}
    affinity: {}
    tolerations: []

# stub to make templating easier
nodePortPoxy:
  image: {}
  envoy:
    image: {}
  nodeSelector: {}
  affinity:
    podAntiAffinity: {}
  tolerations: []
  resources:
    envoy:
      requests: {}
      limits: {}
    envoyManager:
      requests: {}
      limits: {}
    lbUpdater:
      requests: {}
      limits: {}
  lbUpdater:
    nodeSelector: {}
    affinity: {}
    tolerations: []
