logging:
  elasticsearch:
    dataReplicas: 5
    masterReplicas: 3
    storageSize: 10Gi
    image:
      repository: docker.elastic.co/elasticsearch/elasticsearch
      tag: "6.5.1"
      pullPolicy: IfNotPresent
    curator:
      # Amount of days after which the indicies should be killed
      interval: 5
      image:
        repository: quay.io/kubermatic/elasticsearch-curator
        tag: "5.6.0-1"
        pullPolicy: IfNotPresent
    init:
      image:
        repository: docker.io/busybox
        tag: "1.27.2"
        pullPolicy: IfNotPresent
    exporter:
      image:
        repository: justwatch/elasticsearch_exporter
        tag: "1.0.2"
        pullPolicy: IfNotPresent
      all: true
      indices: false
      resources: {}
        # requests:
        #   cpu: 100m
        #   memory: 128Mi
        # limits:
        #   cpu: 100m
        #   memory: 128Mi
