apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeport-proxy
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nodeport-proxy
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: nodeport-proxy
    spec:
      serviceAccountName: nodeport-proxy
      imagePullSecrets:
        - name: quay
      containers:
      - name: nodeport-proxy
        image: {{ .Values.nodePortPoxy.image.repository }}:{{ .Values.nodePortPoxy.image.tag }}
        command:
        - "/proxy"
        args: [
          "-listen-address", "0.0.0.0",
          "-logtostderr",
          "-v","4"
        ]
      tolerations:
      - key: "only_critical"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: "kubermatic.io/type"
                operator: In
                values:
                - "stable"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lb-updater
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lb-updater
  template:
    metadata:
      labels:
        app: lb-updater
    spec:
      serviceAccountName: nodeport-proxy
      imagePullSecrets:
        - name: quay
      containers:
      - name: lb-updater
        image: {{ .Values.nodePortPoxy.image.repository }}:{{ .Values.nodePortPoxy.image.tag }}
        command:
        - "/lb-updater"
        args: [
          "-lb-namespace", "nodeport-proxy",
          "-lb-name", "nodeport-lb",
          "-logtostderr",
          "-v","4"
        ]
