apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: clusters.kubermatic.k8s.io
  annotations:
    "helm.sh/resource-policy": keep
spec:
  group: kubermatic.k8s.io
  names:
    kind: Cluster
    listKind: ClusterList
    plural: clusters
    singular: cluster
  scope: Cluster
  version: v1
