apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kubermatic-api-v1
spec:
  replicas: {{ .Values.kubermatic.api.replicas }}
  template:
    metadata:
      labels:
        role: kubermatic-api
        version: v1
      annotations:
        checksum/datecenters: {{ include (print $.Template.BasePath "/datacenter-yaml-secret.yaml") . | sha256sum }}
        checksum/kubeconfig: {{ include (print $.Template.BasePath "/kubeconfig-secret.yaml") . | sha256sum }}
        checksum/master-files: {{ include (print $.Template.BasePath "/master-files-secret.yaml") . | sha256sum }}
    spec:
      serviceAccountName: kubermatic
      containers:
        - name: api
          command:
          - kubermatic-api
          args:
          - -address=0.0.0.0:8080
          - -v=4
          - -logtostderr
          - -datacenters=/opt/datacenter/datacenters.yaml
          - -token-issuer={{ .Values.kubermatic.auth.tokenIssuer }}
          - -client-id={{ .Values.kubermatic.auth.clientID }}
          - -versions=/opt/master-files/versions.yaml
          - -updates=/opt/master-files/updates.yaml
          - -internal-address=0.0.0.0:8085
          - -kubeconfig=/opt/.kube/kubeconfig
          - -master-resources=/opt/master-files
          - -addons={{ join "," .Values.kubermatic.addons.defaultAddons }}
          - -token-issuer-skip-tls-verify={{ default false .Values.kubermatic.auth.skipTokenIssuerTLSVerify }}
          image: '{{ .Values.kubermatic.api.image.repository }}:{{.Values.kubermatic.api.image.tag}}'
          imagePullPolicy: {{.Values.kubermatic.api.image.pullPolicy}}
          ports:
            - name: metrics
              containerPort: 8085
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - name: kubeconfig
              mountPath: "/opt/.kube/"
              readOnly: true
            - name: datacenters
              mountPath: "/opt/datacenter/"
              readOnly: true
            - name: master-files
              mountPath: "/opt/master-files/"
              readOnly: true
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "250m"
      imagePullSecrets:
        - name: dockercfg
      volumes:
        - name: kubeconfig
          secret:
            secretName: kubeconfig
        - name: datacenters
          secret:
            secretName: datacenters
        - name: master-files
          secret:
            secretName: master-files
