apiVersion: "nodeset.k8s.io/v1alpha1"
kind: NodeClass
metadata:
  name: {{ .Name }}
nodeController: kube-machine
config:
  dockerMachineFlags:
    amazonec2-access-key: "{{ .Cluster.Spec.Cloud.AWS.AccessKeyID }}"
    amazonec2-secret-key: "{{ .Cluster.Spec.Cloud.AWS.SecretAccessKey }}"
    amazonec2-region: "{{ .Datacenter.Spec.AWS.Region }}"
    amazonec2-zone: "{{ .Datacenter.Spec.AWS.ZoneCharacter }}"
    amazonec2-iam-instance-profile: "{{ .Cluster.Spec.Cloud.AWS.InstanceProfileName }}"
    amazonec2-security-group: "{{ .Cluster.Spec.Cloud.AWS.SecurityGroup }}"
    amazonec2-subnet-id: "{{ .Cluster.Spec.Cloud.AWS.SubnetID }}"
    amazonec2-vpc-id: "{{ .Cluster.Spec.Cloud.AWS.VPCID }}"
    amazonec2-open-port: "22,10250"
    amazonec2-ssh-user: "{{ default .NodeSpec.OperatingSystem.SSHUser "core" }}"
    amazonec2-root-size: "{{ .NodeSpec.AWS.RootSize }}"
    amazonec2-volume-type: "{{ default .NodeSpec.AWS.VolumeType "gp2" }}"
    amazonec2-device-name: "/dev/xvda"
    amazonec2-instance-type: "{{ .NodeSpec.AWS.InstanceType }}"
    amazonec2-ami: "{{ default .NodeSpec.AWS.AMI .Datacenter.Spec.AWS.AMI }}"
    amazonec2-tags: "KubernetesCluster,{{ .Cluster.Name }}"
  provider: "amazonec2"
  provisioning:
    users:
      - name: "apiserver"
        ssh_keys:
          {{range .Keys}}- {{.Spec.PublicKey}}
          {{end -}}
          - "{{ .Cluster.Status.ApiserverSSHKey.PublicKey | apiBytesToString }} apiserver@{{ .Cluster.Address.ExternalName }}"
        sudo: true
    commands:
      - "sudo systemctl enable kubelet && sudo systemctl start kubelet"
    files:
      - path: "/etc/kubernetes/bootstrap.kubeconfig"
        permissions: "0640"
        owner: "root"
        content: |-
{{ .Kubeconfig | indent 10 }}
      - path: "/opt/bin/bootstrap.sh"
        permissions: "0640"
        owner: "root"
        content: |-
          #!/bin/bash

          set -xeuo pipefail

          mkdir -p /opt/bin /opt/cni/bin /etc/cni/net.d /var/run/kubernetes /var/lib/kubelet /etc/kubernetes/manifests /var/log/containers

          if [ ! -f /opt/bin/socat ]; then
            curl -L -o /opt/bin/socat https://s3-eu-west-1.amazonaws.com/kubermatic/coreos/socat
            chmod +x /opt/bin/socat
          fi

          if [ ! -f /opt/bin/kubelet.{{index .Version.Values "k8s-version"}} ]; then
            curl -L -o /opt/bin/kubelet.{{index .Version.Values "k8s-version"}} https://storage.googleapis.com/kubelet/kubelet.{{index .Version.Values "k8s-version"}}
            cp /opt/bin/kubelet.{{index .Version.Values "k8s-version"}} /opt/bin/kubelet
            chmod +x /opt/bin/kubelet
          fi

      - path: "/etc/systemd/system/kubelet.service"
        permissions: "0640"
        owner: "root"
        content: |-
          [Unit]
          Description=Kubelet
          Requires=network.target
          After=network.target

          [Service]
          Restart=always
          RestartSec=10
          StartLimitInterval=600
          StartLimitBurst=50
          Environment="PATH=/sbin:/bin:/usr/sbin:/usr/bin:/opt/bin"
          PreExecStart=/usr/bin/bash /opt/bin/bootstrap.sh
          ExecStart=/opt/bin/kubelet \
            --container-runtime=docker \
            --allow-privileged=true \
            --pod-manifest-path=/etc/kubernetes/manifests \
            --cni-conf-dir=/etc/cni/net.d \
            --network-plugin=cni \
            --cluster-dns=10.10.10.10 \
            --cluster_domain=cluster.local \
            --kubeconfig=/etc/kubernetes/kubeconfig \
            --cloud-provider=aws \
            --bootstrap-kubeconfig=/etc/kubernetes/bootstrap.kubeconfig \
            --require-kubeconfig \
            --cert-dir=/etc/kubernetes/

          [Install]
          WantedBy=multi-user.target
