apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: grafana
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  tls:
  - hosts:
    - {{ .Values.grafana.host | trim }}
  backend:
    serviceName: grafana
    servicePort: 3000
  rules:
  - host: {{ .Values.grafana.host | trim }}
    http:
      paths:
      - path: /
        backend:
          serviceName: grafana
          servicePort: 3000
