---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
    kubermatic.k8c.io/location: master,seed
  name: alertmanagers.kubermatic.k8c.io
spec:
  group: kubermatic.k8c.io
  names:
    kind: Alertmanager
    listKind: AlertmanagerList
    plural: alertmanagers
    singular: alertmanager
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: Spec describes the configuration of the Alertmanager.
              properties:
                configSecret:
                  description: |-
                    ConfigSecret refers to the Secret in the same namespace as the Alertmanager object,
                    which contains configuration for this Alertmanager.
                  properties:
                    name:
                      default: ""
                      description: |-
                        Name of the referent.
                        This field is effectively required, but due to backwards compatibility is
                        allowed to be empty. Instances of this type with an empty value here are
                        almost certainly wrong.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
              required:
                - configSecret
              type: object
            status:
              description: Status stores status information about the Alertmanager.
              properties:
                configStatus:
                  description: ConfigStatus stores status information about the AlertManager configuration.
                  properties:
                    errorMessage:
                      description: |-
                        ErrorMessage contains a default error message in case the configuration could not be applied.
                        Will be reset if the error was resolved and condition becomes True
                      type: string
                    lastUpdated:
                      description: LastUpdated stores the last successful time when the configuration was successfully applied
                      format: date-time
                      type: string
                    status:
                      description: Status of whether the configuration was applied, one of True, False
                      type: string
                  required:
                    - status
                  type: object
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
