---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
    kubermatic.k8c.io/location: master
  creationTimestamp: null
  name: kubermaticsettings.kubermatic.k8c.io
spec:
  group: kubermatic.k8c.io
  names:
    kind: KubermaticSetting
    listKind: KubermaticSettingList
    plural: kubermaticsettings
    singular: kubermaticsetting
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1
      schema:
        openAPIV3Schema:
          description: KubermaticSetting is the type representing a KubermaticSetting. These settings affect the KKP dashboard and are not relevant when using the Kube API on the master/seed clusters directly.
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              properties:
                cleanupOptions:
                  description: CleanupOptions control what happens when a cluster is deleted via the dashboard.
                  properties:
                    enabled:
                      description: Enable checkboxes that allow the user to ask for LoadBalancers and PVCs to be deleted in order to not leave potentially expensive resources behind.
                      type: boolean
                    enforced:
                      description: If enforced is set to true, the cleanup of LoadBalancers and PVCs is enforced.
                      type: boolean
                  type: object
                customLinks:
                  description: CustomLinks are additional links that can be shown the dashboard's footer.
                  items:
                    properties:
                      icon:
                        type: string
                      label:
                        type: string
                      location:
                        type: string
                      url:
                        type: string
                    required:
                      - icon
                      - label
                      - location
                      - url
                    type: object
                  type: array
                defaultNodeCount:
                  description: DefaultNodeCount is the default number of replicas for the initial MachineDeployment.
                  type: integer
                defaultQuota:
                  description: DefaultProjectResourceQuota allows to configure a default project resource quota which will be set for all projects that do not have a custom quota already set. EE-version only.
                  properties:
                    quota:
                      description: ResourceDetails holds the CPU, Memory and Storage quantities.
                      properties:
                        cpu:
                          anyOf:
                            - type: integer
                            - type: string
                          description: CPU holds the quantity of CPU. For the format, please check k8s.io/apimachinery/pkg/api/resource.Quantity.
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        memory:
                          anyOf:
                            - type: integer
                            - type: string
                          description: Memory represents the quantity of RAM size. For the format, please check k8s.io/apimachinery/pkg/api/resource.Quantity.
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        storage:
                          anyOf:
                            - type: integer
                            - type: string
                          description: Storage represents the disk size. For the format, please check k8s.io/apimachinery/pkg/api/resource.Quantity.
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                      type: object
                  type: object
                displayAPIDocs:
                  description: DisplayDemoInfo controls whether a a link to the KKP API documentation is shown in the footer.
                  type: boolean
                displayDemoInfo:
                  description: DisplayDemoInfo controls whether a "Demo System" hint is shown in the footer.
                  type: boolean
                displayTermsOfService:
                  description: DisplayDemoInfo controls whether a a link to TOS is shown in the footer.
                  type: boolean
                enableDashboard:
                  description: EnableDashboard enables the link to the Kubernetes dashboard for a user cluster.
                  type: boolean
                enableExternalClusterImport:
                  type: boolean
                enableOIDCKubeconfig:
                  type: boolean
                enableWebTerminal:
                  default: false
                  description: EnableWebTerminal enables the Web Terminal feature for the user clusters.
                  type: boolean
                machineDeploymentVMResourceQuota:
                  description: MachineDeploymentVMResourceQuota is used to filter out allowed machine flavors based on the specified resource limits like CPU, Memory, and GPU etc.
                  properties:
                    enableGPU:
                      description: Include VMs with GPU
                      type: boolean
                    maxCPU:
                      default: 0
                      description: Maximum number of vCPU
                      minimum: 0
                      type: integer
                    maxRAM:
                      default: 0
                      description: Maximum RAM size in GB
                      minimum: 0
                      type: integer
                    minCPU:
                      default: 0
                      description: Minimum number of vCPU
                      minimum: 0
                      type: integer
                    minRAM:
                      default: 0
                      description: Minimum RAM size in GB
                      minimum: 0
                      type: integer
                  required:
                    - enableGPU
                    - maxCPU
                    - maxRAM
                    - minCPU
                    - minRAM
                  type: object
                mlaAlertmanagerPrefix:
                  type: string
                mlaGrafanaPrefix:
                  type: string
                mlaOptions:
                  properties:
                    loggingEnabled:
                      type: boolean
                    loggingEnforced:
                      type: boolean
                    monitoringEnabled:
                      type: boolean
                    monitoringEnforced:
                      type: boolean
                  type: object
                notifications:
                  description: Notifications are the configuration for notifications on dashboard.
                  properties:
                    hideErrorEvents:
                      description: HideErrorEvents will silence error events for the dashboard.
                      type: boolean
                    hideErrors:
                      description: HideErrors will silence error notifications for the dashboard.
                      type: boolean
                  type: object
                opaOptions:
                  properties:
                    enabled:
                      type: boolean
                    enforced:
                      type: boolean
                  type: object
                providerConfiguration:
                  description: ProviderConfiguration are the cloud provider specific configurations on dashboard.
                  properties:
                    openStack:
                      description: OpenStack are the configurations for openstack provider.
                      properties:
                        enforceCustomDisk:
                          description: EnforceCustomDisk will enforce the custom disk option for machines for the dashboard.
                          type: boolean
                      type: object
                  type: object
                restrictProjectCreation:
                  type: boolean
                userProjectsLimit:
                  description: UserProjectsLimit is the maximum number of projects a user can create.
                  format: int64
                  type: integer
              required:
                - customLinks
                - defaultNodeCount
                - displayAPIDocs
                - displayDemoInfo
                - displayTermsOfService
                - enableDashboard
                - enableExternalClusterImport
                - enableOIDCKubeconfig
                - mlaAlertmanagerPrefix
                - mlaGrafanaPrefix
                - restrictProjectCreation
                - userProjectsLimit
              type: object
          type: object
      served: true
      storage: true
      subresources: {}
