# Copyright 2020 The Kubermatic Kubernetes Platform contributors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v2
name: node-exporter
version: 9.9.9-dev
appVersion: 1.9.0
description: Prometheus Node Exporter for Kubermatic
keywords:
  - kubermatic
  - monitoring
  - prometheus
  - node-exporter
home: https://github.com/prometheus/node_exporter
sources:
  - https://prometheus-community.github.io/helm-charts
dependencies:
- name: prometheus-node-exporter
  repository: https://prometheus-community.github.io/helm-charts
  version: 4.44.0
  alias: node-exporter
