groups:
- name: kubernetes.rules
  rules:
  - record: namespace:container_cpu_usage_seconds_total:sum_rate
    expr: |
      sum by (namespace) (
        rate(container_cpu_usage_seconds_total{job="cadvisor", image!="", container_name!=""}[5m])
      )

  - record: namespace_pod_name_container_name:container_cpu_usage_seconds_total:sum_rate
    expr: |
      sum by (namespace, pod_name, container_name) (
        rate(container_cpu_usage_seconds_total{job="cadvisor", image!="", container_name!=""}[5m])
      )

  - record: namespace:container_memory_usage_bytes:sum
    expr: |
      sum by (namespace) (
        container_memory_usage_bytes{job="cadvisor", image!="", container_name!=""}
      )

  - record: namespace_name:container_cpu_usage_seconds_total:sum_rate
    expr: |
      sum by (namespace, label_name) (
          sum(rate(container_cpu_usage_seconds_total{job="cadvisor", image!="", container_name!=""}[5m])) by (namespace, pod_name)
        * on (namespace, pod_name) group_left(label_name)
          label_replace(kube_pod_labels{job="kube-state-metrics"}, "pod_name", "$1", "pod", "(.*)")
      )

  - record: namespace_name:container_memory_usage_bytes:sum
    expr: |
      sum by (namespace, label_name) (
          sum(container_memory_usage_bytes{job="cadvisor",image!="", container_name!=""}) by (pod_name, namespace)
        * on (namespace, pod_name) group_left(label_name)
          label_replace(kube_pod_labels{job="kube-state-metrics"}, "pod_name", "$1", "pod", "(.*)")
      )

  - record: namespace_name:kube_pod_container_resource_requests_memory_bytes:sum
    expr: |
      sum by (namespace, label_name) (
          sum(kube_pod_container_resource_requests_memory_bytes{job="kube-state-metrics"}) by (namespace, pod)
        * on (namespace, pod) group_left(label_name)
          label_replace(kube_pod_labels{job="kube-state-metrics"}, "pod_name", "$1", "pod", "(.*)")
      )

  - record: namespace_name:kube_pod_container_resource_requests_cpu_cores:sum
    expr: |
      sum by (namespace, label_name) (
          sum(kube_pod_container_resource_requests_cpu_cores{job="kube-state-metrics"} and on(pod) kube_pod_status_scheduled{condition="true"}) by (namespace, pod)
        * on (namespace, pod) group_left(label_name)
          label_replace(kube_pod_labels{job="kube-state-metrics"}, "pod_name", "$1", "pod", "(.*)")
      )
