groups:
- name: node-exporter
  rules:
  - alert: NodeFilesystemSpaceFillingUp
    annotations:
      message:
        Filesystem on {{ $labels.device }} at {{ $labels.instance }} is predicted
        to run out of space within the next 24 hours.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodefilesystemspacefillingup
    expr: |
      predict_linear(node_filesystem_avail_bytes{app="node-exporter",fstype=~"ext.|xfs"}[6h], 24*60*60) < 0
      and
      node_filesystem_avail_bytes{app="node-exporter",fstype=~"ext.|xfs"} / node_filesystem_size_bytes{app="node-exporter",fstype=~"ext.|xfs"} < 0.4
      and
      node_filesystem_readonly_bytes{app="node-exporter",fstype=~"ext.|xfs"} == 0
    for: 1h
    labels:
      severity: warning

  - alert: NodeFilesystemSpaceFillingUp
    annotations:
      message:
        Filesystem on {{ $labels.device }} at {{ $labels.instance }} is predicted
        to run out of space within the next 4 hours.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodefilesystemspacefillingup
    expr: |
      predict_linear(node_filesystem_avail_bytes{app="node-exporter",fstype=~"ext.|xfs"}[6h], 4*60*60) < 0
      and
      node_filesystem_avail_bytes{app="node-exporter",fstype=~"ext.|xfs"} / node_filesystem_size_bytes{app="node-exporter",fstype=~"ext.|xfs"} < 0.2
      and
      node_filesystem_readonly_bytes{app="node-exporter",fstype=~"ext.|xfs"} == 0
    for: 1h
    labels:
      severity: critical

  - alert: NodeFilesystemOutOfSpace
    annotations:
      message:
        Filesystem on {{ $labels.device }} at {{ $labels.instance }} has only
        {{ $value }}% available space left.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodefilesystemoutofspace
    expr: |
      node_filesystem_avail_bytes{app="node-exporter",fstype=~"ext.|xfs"} / node_filesystem_size_bytes{app="node-exporter",fstype=~"ext.|xfs"} * 100 < 5
      and
      node_filesystem_readonly_bytes{app="node-exporter",fstype=~"ext.|xfs"} == 0
    for: 1h
    labels:
      severity: warning

  - alert: NodeFilesystemOutOfSpace
    annotations:
      message:
        Filesystem on {{ $labels.device }} at {{ $labels.instance }} has only
        {{ $value }}% available space left.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodefilesystemoutofspace
    expr: |
      node_filesystem_avail_bytes{app="node-exporter",fstype=~"ext.|xfs"} / node_filesystem_size_bytes{app="node-exporter",fstype=~"ext.|xfs"} * 100 < 3
      and
      node_filesystem_readonly_bytes{app="node-exporter",fstype=~"ext.|xfs"} == 0
    for: 1h
    labels:
      severity: critical

  - alert: NodeFilesystemFilesFillingUp
    annotations:
      message:
        Filesystem on {{ $labels.device }} at {{ $labels.instance }} is predicted
        to run out of files within the next 24 hours.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodefilesystemfilesfillingup
    expr: |
      predict_linear(node_filesystem_files_free{app="node-exporter",fstype=~"ext.|xfs"}[6h], 24*60*60) < 0
      and
      node_filesystem_files_free{app="node-exporter",fstype=~"ext.|xfs"} / node_filesystem_files{app="node-exporter",fstype=~"ext.|xfs"} < 0.4
      and
      node_filesystem_readonly{app="node-exporter",fstype=~"ext.|xfs"} == 0
    for: 1h
    labels:
      severity: warning

  - alert: NodeFilesystemFilesFillingUp
    annotations:
      message:
        Filesystem on {{ $labels.device }} at {{ $labels.instance }} is predicted
        to run out of files within the next 4 hours.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodefilesystemfilesfillingup
    expr: |
      predict_linear(node_filesystem_files_free{app="node-exporter",fstype=~"ext.|xfs"}[6h], 4*60*60) < 0
      and
      node_filesystem_files_free{app="node-exporter",fstype=~"ext.|xfs"} / node_filesystem_files{app="node-exporter",fstype=~"ext.|xfs"} < 0.2
      and
      node_filesystem_readonly{app="node-exporter",fstype=~"ext.|xfs"} == 0
    for: 1h
    labels:
      severity: warning

  - alert: NodeFilesystemOutOfFiles
    annotations:
      message:
        Filesystem on {{ $labels.device }} at {{ $labels.instance }} has only
        {{ $value }}% available inodes left.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodefilesystemoutoffiles
    expr: |
      node_filesystem_files_free{app="node-exporter",fstype=~"ext.|xfs"} / node_filesystem_files{app="node-exporter",fstype=~"ext.|xfs"} * 100 < 5
      and
      node_filesystem_readonly{app="node-exporter",fstype=~"ext.|xfs"} == 0
    for: 1h
    labels:
      severity: warning

  - alert: NodeFilesystemOutOfSpace
    annotations:
      message:
        Filesystem on {{ $labels.device }} at {{ $labels.instance }} has only
        {{ $value }}% available space left.
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodefilesystemoutofspace
    expr: |
      node_filesystem_files_free{app="node-exporter",fstype=~"ext.|xfs"} / node_filesystem_files{app="node-exporter",fstype=~"ext.|xfs"} * 100 < 3
      and
      node_filesystem_readonly{app="node-exporter",fstype=~"ext.|xfs"} == 0
    for: 1h
    labels:
      severity: critical

  - alert: NodeNetworkReceiveErrs
    annotations:
      message:
        '{{ $labels.instance }} interface {{ $labels.device }} shows errors
        while receiving packets ({{ $value }} errors in two minutes).'
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodenetworkreceiveerrs
    expr: increase(node_network_receive_errs_total[2m]) > 10
    for: 1h
    labels:
      severity: critical

  - alert: NodeNetworkTransmitErrs
    annotations:
      message:
        '{{ $labels.instance }} interface {{ $labels.device }} shows errors
        while transmitting packets ({{ $value }} errors in two minutes).'
      runbook_url: https://docs.kubermatic.io/monitoring/runbook/#alert-nodenetworktransmiterrs
    expr: increase(node_network_transmit_errs_total[2m]) > 10
    for: 1h
    labels:
      severity: critical
