{{ define "slack.kubermatic.title.range" }}
{{range .Alerts }}
{{ if eq .Status "firing" }}:fire:{{ else }}:white_check_mark:{{ end }}{{ .Labels.alertname }}{{ if eq .Status "firing" }}:fire:{{ else }}:white_check_mark:{{ end }}
{{ end }}
{{ end }}

{{ define "slack.kubermatic.text.range" }}
{{range .Alerts }}
{{ .Annotations.message }}
{{ if .Annotations.runbook_url }}{{ .Annotations.runbook_url }}{{ end }}
{{ end }}
{{ end }}

{{ define "slack.kubermatic.title" }}{{ template "slack.kubermatic.title.range" . }}{{ end }}
{{ define "slack.kubermatic.text" }}{{ template "slack.kubermatic.text.range" . }}{{ end }}
{{ define "slack.kubermatic.fallback" }}{{ template "slack.kubermatic.fallback.range" . }}{{ end }}
