{* regular Slack alerts *}

{{ define "slack.kubermatic.pretty.runbook" }}{{ with .Annotations.runbook_url }}<{{ .}}|:notebook:>{{ end }}{{ end }}
{{ define "slack.kubermatic.titlelink" }}{{ end }}
{{ define "slack.kubermatic.pretty.icon" }}{{ end }}
{{ define "slack.kubermatic.color" }}{{ if eq .Status "firing" }}danger{{ else }}good{{ end }}{{ end }}

{{ define "slack.kubermatic.pretty.labels" -}}
{{- with .Labels.seed_cluster -}}
{{- if      (match "^(eu|europe)-" .) }}:flag-eu:
{{- else if (match "^usa?-" .) }}:flag-us:
{{- else if (match "^asia-" .) }}:flag-cn:
{{- else }}[{{ . }}]{{ end -}}
{{- end -}} {{ with .Labels.cluster }} [{{ . }}]{{ end }}
{{- end }}

{{ define "slack.kubermatic.title" -}}
{{- with (index .Alerts 0) -}}
{{- template "slack.kubermatic.pretty.icon" . }} {{ template "slack.kubermatic.pretty.labels" . }} <{{ $.ExternalURL }}/#/alerts?receiver={{ $.Receiver }}|{{ .Labels.alertname }}>
{{- end -}}
{{- end }}

{{ define "slack.kubermatic.text" -}}
{{- with (index .Alerts 0) -}}
{{ .Annotations.message }} {{ template "slack.kubermatic.pretty.runbook" . }}
{{- end -}}
{{- end }}

{* slack fallback for constraint environments like Android notifications *}

{{ define "slack.kubermatic.fallback.icon" }}{{ if eq .Status "firing" }}✗{{ else }}✓{{ end }}{{ end }}
{{ define "slack.kubermatic.fallback.labels" }}[{{ .Labels.seed_cluster | toUpper }}]{{ end }} {* do not include user cluster IDs in fallbacks *}
{{ define "slack.kubermatic.fallback.runbook" }}{{ with .Annotations.runbook_url }}<{{ .}}|:notebook:>{{ end }}{{ end }}

{{ define "slack.kubermatic.fallback" -}}
{{- with (index .Alerts 0) -}}
{{- template "slack.kubermatic.fallback.icon" . }} {{ template "slack.kubermatic.fallback.labels" . }} {{ .Labels.alertname }} {{ .Annotations.message }}
{{- end -}}
{{- end }}
