alertmanager:
  version: v0.16.2
  host: ""
  config:
    global:
      slack_api_url: https://hooks.slack.com/services/YOUR_KEYS_HERE
    route:
      receiver: 'default'
      repeat_interval: 1h
    receivers:
    - name: 'default'
      slack_configs:
      - channel: '#alerting'
        send_resolved: true
  resources:
    alertmanager:
      requests:
        cpu: 20m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 48Mi
    reloader:
      requests:
        cpu: 5m
        memory: 24Mi
      limits:
        cpu: 5m
        memory: 32Mi
    storage: 100Mi
  nodeSelector: {}
  affinity: {}
  tolerations: []
