apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: kubermatic
  labels:
    app: alertmanager
spec:
  replicas: 3
  version: {{ .Values.alertmanager.version }}
  externalUrl: https://{{ .Values.alertmanager.host | trim }}
  storage:
    volumeClaimTemplate:
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 100Mi
        storageClassName: kubermatic-fast
