apiVersion: v1
kind: Service
metadata:
  name: alertmanager-kubermatic
  labels:
    app: alertmanager-kubermatic
spec:
  type: ClusterIP
  ports:
  - name: web
    port: 9093
    protocol: TCP
    targetPort: 9093
  selector:
    app: alertmanager
    alertmanager: kubermatic
