kubermatic:
  docker:
    # the base64 encoded docker authentication token
    secret: ""
  auth:
    # the full path to the openid connect token issuer. For example 'https://dev.kubermatic.io/dex'
    tokenIssuer: ""
    # die client id for openid connect
    clientID: ""
  # base64 encoded datacenters.yaml
  datacenters: ""
  # external domain for the kubermatic installation. For example 'dev.kubermatic.io'
  domain: ""
  # base64 encoded kubeconfig which gives admin access to all seed clusters
  kubeconfig: ""
  # DEPRECATED! the external port for the customer cluster apiservers
  externalApiserverPort: "8443"
  controller:
    replicas: 2
    image:
      repository: "kubermatic/api"
      tag: "latest"
      pullPolicy: "IfNotPresent"
  api:
    replicas: 2
    image:
      repository: "kubermatic/api"
      tag: "latest"
      pullPolicy: "IfNotPresent"
  ui:
   replicas: 2
    image:
      repository: "kubermatic/ui-v2"
      tag: "latest"
      pullPolicy: "IfNotPresent"
