# Copyright 2020 The Kubermatic Kubernetes Platform contributors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: userprojectbindings.kubermatic.k8s.io
spec:
  group: kubermatic.k8s.io
  names:
    kind: UserProjectBinding
    listKind: UserProjectBindingList
    plural: userprojectbindings
    singular: userprojectbinding
  scope: Cluster
  version: v1
  additionalPrinterColumns:
    - JSONPath: .metadata.creationTimestamp
      description: |-
        CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC.

        Populated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata
      name: Age
      type: date
    - JSONPath: .spec.projectId
      name: ProjectId
      type: string
    - JSONPath: .spec.group
      name: Group
      type: string
    - JSONPath: .spec.userEmail
      name: UserEmail
      type: string
