apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-kubermatic-config
data:
{{ (tpl (.Files.Glob "config/*").AsConfig .) | indent 2 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-kubermatic-rules
  labels:
    role: prometheus-rulefiles
data:
{{ (.Files.Glob "rules/*.yaml").AsConfig | indent 4 }}
{{- if .Values.prometheus.rules }}
  _customrules.yaml: |
{{ toYaml .Values.prometheus.rules | indent 6 }}
{{- end}}
