apiVersion: v1
kind: Service
metadata:
  name: apiserver-external
  annotations:
    nodeport-exposer.k8s.io/expose: "true"
  ownerReferences:
  - apiVersion: kubermatic.k8s.io/v1
    blockOwnerDeletion: true
    controller: true
    kind: Cluster
    name: {{ .Cluster.Name }}
    uid: "{{ .Cluster.ObjectMeta.UID }}"
spec:
  type: NodePort
  ports:
    - name: secure
      port: {{ .Cluster.Address.ExternalPort }}
      nodePort: {{ .GetNextFreeNodePort }}
      protocol: TCP
  selector:
    role: apiserver
