apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: {{ .Cluster.Name }}
  labels:
    prometheus: {{ .Cluster.Name }}
spec:
  replicas: 1
  version: v2.1.0
  serviceAccountName: prometheus-{{ .Cluster.Name }}
  serviceMonitorSelector:
    matchLabels:
      prometheus: {{ .Cluster.Name }}
  ruleSelector:
    matchLabels:
      role: prometheus-rulefiles
      prometheus: {{ .Cluster.Name }}
  resources:
    requests:
      memory: 200Mi
# TODO(matthias) We need this Prometheus to send alerts to Alertmanager
#  alerting:
#    alertmanagers:
#    - namespace: monitoring
#      name: alertmanager-main
#      port: web
