updates:
# ======= 1.12 =======
# Allow to next minor release
- from: 1.12.*
  to: 1.13.*
  automatic: false

# ======= 1.13 =======
# CVE-2019-11247, CVE-2019-11249, CVE-2019-9512, CVE-2019-9514, CVE-2019-11253
- from: <= 1.13.11, >= 1.13.0
  to: 1.13.12
  automatic: true
# Allow to next minor release
- from: 1.13.*
  to: 1.14.*
  automatic: false

# ======= 1.14 =======
# Allow to change to any patch version
- from: 1.14.*
  to: 1.14.*
  automatic: false
# CVE-2019-11247, CVE-2019-11249, CVE-2019-9512, CVE-2019-9514, CVE-2019-11253
- from: <= 1.14.7, >= 1.14.0
  to: 1.14.8
  automatic: true
# Allow to next minor release
- from: 1.14.*
  to: 1.15.*
  automatic: false

# ======= 1.15 =======
# Allow to change to any patch version
- from: 1.15.*
  to: 1.15.*
  automatic: false
# CVE-2019-11247, CVE-2019-11249, CVE-2019-9512, CVE-2019-9514, CVE-2019-11253
- from: <= 1.15.4, >= 1.15.0
  to: 1.15.5
  automatic: true
# Released with broken Anago
- from: 1.15.8
  to: 1.15.9
  automatic: true
