updates:
# ======= 1.12 =======
# Allow to next minor release
- from: 1.12.*
  to: 1.13.*
  automatic: false

# ======= 1.13 =======
# Allow to change to any patch version
- from: 1.13.*
  to: 1.13.*
  automatic: false
# Allow to next minor release
- from: 1.13.*
  to: 1.14.*
  automatic: false

# ======= 1.14 =======
# Allow to change to any patch version
- from: 1.14.*
  to: 1.14.*
  automatic: false
# Allow to next minor release
- from: 1.14.*
  to: 1.15.*
  automatic: false
