nginx:
  hostNetwork: false
  asDaemonSet: false
  replicas: 3
  image:
    repository: quay.io/kubernetes-ingress-controller/nginx-ingress-controller
    tag: 0.25.1
  config: {}
#    load-balance: "least_conn"
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
  nodeSelector: {}
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        preference:
          matchExpressions:
          - key: kubermatic.io/type
            operator: In
            values:
            - stable
  tolerations:
  - key: only_critical
    operator: Equal
    value: "true"
    effect: NoSchedule

  # set this to true to automatically add these tolerations
  # to make nginx run on master nodes:
  #   - { key: dedicated, operator: Equal, value: master, effect: NoSchedule }
  #   - { key: node-role.kubernetes.io/master, effect: NoSchedule }
  ignoreMasterTaint: false
