# Created by .ignore support plugin (hsz.mobi)
/kubermatic-api
/kubermatic-cluster-controller
.env
.idea
*.iml*
.kubeconfig
secrets.yaml
template/coreos
!handler/fixtures/*
_build/*
**/_build
_artifacts/*
handler/swagger/index.json
handler/swagger/api/index.json
/client-gen
/codecgen_binary
/defaulter-gen
/deepcopy-gen
download-gocache
/pkg/handler/routes_v1.go-e
