required = [
    "k8s.io/code-generator/cmd/client-gen",
    "k8s.io/code-generator/cmd/deepcopy-gen",
    "k8s.io/gengo/examples/defaulter-gen/generators",
    "k8s.io/apimachinery/pkg/apimachinery/registered",
    "github.com/ugorji/go/codec/codecgen",
    "github.com/go-swagger/go-swagger/cmd/swagger"
]

[prune]
  go-tests = true
  non-go = true
  unused-packages = true
  # we need to protect json-iterator otherwise the license check fails.
  # reason here is, that json-iterator does some symlinks which break when removing the tests.
  [[prune.project]]
    name = "github.com/json-iterator/go"
    go-tests = false
    unused-packages = false
  # contains a bash script we use for code generation
  [[prune.project]]
    name = "k8s.io/code-generator"
    non-go = false
    unused-packages = false

[[constraint]]
  name = "github.com/go-swagger/go-swagger"
  branch = "master"

[[constraint]]
  name = "github.com/Masterminds/semver"
  version = "v1.4.0"

[[constraint]]
  name = "github.com/Masterminds/sprig"
  version = "v2.14.1"

[[constraint]]
  name = "github.com/coreos/go-oidc"
  revision = "a4973d9a4225417aecf5d450a9522f00c1f7130f"

[[constraint]]
  name = "github.com/digitalocean/godo"
  version = "1.0.0"

[[constraint]]
  name = "github.com/go-kit/kit"
  branch = "master"

[[constraint]]
  name = "github.com/go-test/deep"
  version = "v1.0.1"

[[constraint]]
  name = "github.com/golang/glog"
  branch = "master"

[[constraint]]
  name = "github.com/gorilla/handlers"
  version = "v1.3.0"

[[constraint]]
  name = "github.com/gorilla/mux"
  version = "v1.6.1"

[[constraint]]
  branch = "master"
  name = "golang.org/x/crypto"

[[constraint]]
  name = "golang.org/x/oauth2"
  branch = "master"

[[constraint]]
  name = "gopkg.in/yaml.v2"
  branch = "v2"

[[constraint]]
  name = "github.com/aws/aws-sdk-go"
  version = "1.10.24"

[[constraint]]
  name = "github.com/gophercloud/gophercloud"
  branch = "master"

[[constraint]]
  name = "github.com/oklog/run"
  version = "v1.0.0"

[[constraint]]
  name = "github.com/pmezard/go-difflib"
  version = "1.0.0"

[[constraint]]
  name = "k8s.io/apimachinery"
  branch = "release-1.10"

[[constraint]]
  name = "k8s.io/api"
  branch = "release-1.10"

[[constraint]]
  name = "k8s.io/client-go"
  branch = "release-7.0"

[[constraint]]
  name = "k8s.io/code-generator"
  branch = "release-1.10"

[[constraint]]
  name = "github.com/kubermatic/machine-controller"
  version = "v0.7.17"

[[constraint]]
  name = "github.com/prometheus/client_golang"
  branch = "master"

# For container-linux-config-transpiler
[[override]]
  name = "github.com/ajeddeloh/yaml"
  revision = "6b94386aeefd8c4b8470aee72bfca084c2f91da9"

[[constraint]]
  name = "github.com/minio/minio-go"
  version = "v6.0.*"

[[constraint]]
  name = "github.com/urfave/cli"
  version = "1.20.0"

[[constraint]]
  name = "github.com/Azure/azure-sdk-for-go"
  version = "18.*"

[[constraint]]
  name = "github.com/Azure/go-autorest"
  version = "10.12.*"
