required = ["k8s.io/code-generator/cmd/client-gen", "github.com/ugorji/go/codec/codecgen", "k8s.io/code-generator/cmd/deepcopy-gen", "github.com/go-swagger/go-swagger/cmd/swagger"]

[prune]
  go-tests = true
  non-go = true
  unused-packages = true

[[constraint]]
  name = "github.com/go-swagger/go-swagger"

[[constraint]]
  name = "github.com/Masterminds/semver"

[[constraint]]
  name = "github.com/Masterminds/sprig"

[[constraint]]
  name = "github.com/coreos/go-oidc"
  revision = "a4973d9a4225417aecf5d450a9522f00c1f7130f"

[[constraint]]
  name = "github.com/digitalocean/godo"
  version = "1.0.0"

[[constraint]]
  name = "github.com/go-kit/kit"

[[constraint]]
  name = "github.com/go-test/deep"

[[constraint]]
  name = "github.com/golang/glog"

[[constraint]]
  name = "github.com/gorilla/handlers"

[[constraint]]
  name = "github.com/gorilla/mux"

[[constraint]]
  branch = "master"
  name = "golang.org/x/crypto"

[[constraint]]
  name = "golang.org/x/net"

[[constraint]]
  name = "golang.org/x/oauth2"

[[constraint]]
  name = "gopkg.in/yaml.v2"

[[constraint]]
  name = "github.com/aws/aws-sdk-go"
  version = "1.10.24"

[[constraint]]
  name = "github.com/yvasiyarov/swagger"

[[constraint]]
  name = "github.com/mgutz/logxi"

[[constraint]]
  name = "github.com/kube-node/nodeset"
  branch = "master"

[[constraint]]
  name = "k8s.io/apimachinery"
  branch = "release-1.8"

[[constraint]]
  name = "k8s.io/client-go"
  branch = "release-5.0"

[[constraint]]
  name = "k8s.io/apiextensions-apiserver"
  branch = "release-1.8"

[[constraint]]
  name = "k8s.io/code-generator"
  branch = "release-1.8"

# goland/dep does not follow k8s.io/code-generator's Godeps.json and gengo's master
# version does not work with release-1.8 k8s.io/code-generator. So we have to
# override it.
[[override]]
  name = "k8s.io/gengo"
  revision = "9e661e9308f078838e266cca1c673922088c0ea4"

[[constraint]]
  name = "github.com/gophercloud/gophercloud"

[[constraint]]
  name = "github.com/oklog/run"
  version = "v1.0.0"

[[constraint]]
  name = "github.com/pmezard/go-difflib"
  version = "1.0.0"
